**/Shell*.js
**/src/libs/*.js
**/src/libs/*.js
**/src/test-resources/test-files/*.js
**/src/test-resources/test-files/controller/*.js
**/src/test-resources/integration/*.js
**/src/test-resources/integration/commons/*.js
**/src/test-resources/*.js
**/src/libs/highcharts/*.js
**/test/**
